.container-videoCard {
  background-color: var(--primary-bg-color);
  width: 100%;
}

.container-videoCard a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.container-videoCard .container-cardCustom {
  max-width: 100%;
  background-color: var(--primary-bg-color);
  box-shadow: none;
}

.content-videoCard {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0.3rem;
}

.content-videoCard .container-cardContent {
  flex-direction: row;
}

.container-videoCard .container-cardActions .icon-menu {
  font-size: var(--font-size-icon-menu);
  color: var(--primary-text-color);
  cursor: pointer;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .container-videoCard .container-cardActions .icon-menu {
    color: var(--icon-color-grey);
  }

  .container-videoCard .container-cardActions .icon-menu:hover {
    color: var(--primary-text-color);
  }
}
