.container-videoCard {
  background-color: var(--primary-bg-color);
  width: 100%;
}

.container-videoCard a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.container-videoCard .container-cardCustom {
  max-width: 100%;
  background-color: var(--primary-bg-color);
  box-shadow: none;
}

.content-videoCard {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0.3rem;
}

.container-cardCustom .content-videoCard .container-cardContent {
  flex-direction: row;
}
