.card-videoSmall {
  display: flex;
  gap: 1rem;
}

.card-videoSmall a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.card-videoSmall img {
  width: 9rem;
  height: auto;
}

.card-videoSmall .details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-videoSmall .details .icon-menu {
  position: relative;
  top: 0.2rem;
}
