.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

a.link-logo {
  text-decoration: none;
  color: var(--primary-text-color);
}

.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .logo img {
  width: calc(var(--height-header) - 1rem);
}
