.App {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container-header {
  border-bottom: var(--primary-border);
  height: var(--height-header);
}

.main {
  overflow-y: auto;
  padding: 0 0 0.5rem 0;
  overflow-x: hidden;
}

.container-footer {
  border-top: var(--primary-border);
}

.container-sidenav {
  display: none;
}

@media only screen and (min-width: 768px) {
  .App {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: auto 1fr;
  }
  .main {
    margin-left: calc(var(--width-sidenav) + 1rem);
    margin-top: 1rem;
    margin-right: 1rem;
  }
  .container-footer {
    display: none;
  }
  .container-sidenav {
    display: block;
    position: fixed;
    left: 0;
  }
}
