* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colors */
  --primary-bg-color: #181818;
  --accent-bg-color: #282828;
  --primary-text-color: #fff;
  --icon-color-grey: #888888;
  --primary-blue-color: #3ea6ff;

  /* sizes */
  --font-size-icon-navbar-mobile: 1.5rem;
  --font-size-text-navbar-mobile: 0.8rem;
  --font-size-icon-menu: 1.3rem;

  /* border */
  --primary-border: 1px solid var(--icon-color-grey);

  /* Z indices */
  --z-popup: 2;

  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.remove-tap-highlight {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
