.container-form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-login {
  width: max-content;
  padding: 1rem;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.form-login.test-creds {
  padding-top: 0;
}

.form-login input {
  width: 100%;
  padding: 0.5rem 0.2rem;
  margin: 0.5rem 0;
  outline: none;
  font-size: 1rem;
}

.form-login .btn-submit {
  padding: 0.4rem 1rem;
  color: white;
  background-color: var(--highlight-color);
  opacity: 0.95;
  cursor: pointer;
  border: none;
  outline: none;
  margin-top: 5px;
}

.form-login.test-creds .btn-submit {
  margin-top: 0;
}

.form-login .btn-submit:hover {
  opacity: 1;
}

.form-login .btn-submit:disabled {
  /* color: var(--accent-bg-color); */
  opacity: 0.5;
  cursor: not-allowed;
}

.label-password {
  position: relative;
}

.icon-eye {
  position: absolute;
  right: 0.6rem;
  top: 0.1rem;
  font-size: 1.4rem;
}

.page-auth input {
  background-color: var(--accent-bg-color);
  outline: none;
  border: none;
  color: var(--primary-text-color);
}

.page-auth button {
  background-color: var(--primary-bg-color);
}
